# Dependencies
node_modules

# Production
dist
build

# Environment variables
.env

# Trae AI
.trae/

# Documentation
docs/

# Tauri
src-tauri/

# Skills
.agents/
skills-lock.json

.vscode/

scripts/

public/
